body {
    background-image: url("https://www.thedailymeal.com/img/gallery/healthiest-chinese-food-takeout-orders/l-intro-1688159263.jpg");
}

.about {
    text-align: center;
}

.menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border: 2px solid #ccc;
    padding: 20px;
}

.menu h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.menu p {
    color: #666;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}