.container {
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    border: 3px block #1f0fc9;
    padding: 30px;
    border-radius: 7px;
    width: 500px;
    text-align: center;
    background-color: #440f61;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 3px solid #ccc;
    border-radius: 5px;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #147105;
    color: white;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: #45a049;
}